<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home2:home2)">
    <ion-router-outlet name="home2"></ion-router-outlet>
  </ion-tab>
  
    <ion-tab label="Redeem" icon="cash" href="/tabs/(redeem:redeem)">
      <ion-router-outlet name="redeem"></ion-router-outlet>
    </ion-tab>
   
      <ion-tab label="Scan" icon="qr-scanner" href="/tabs/(scan:scan)">
        <ion-router-outlet name="scan"></ion-router-outlet>
      </ion-tab>
      
  <ion-tab label="Card" icon="card" href="/tabs/(card:card)">
    <ion-router-outlet name="card"></ion-router-outlet>
  </ion-tab>
    <ion-tab label="Wallet" icon="wallet" href="/tabs/(wallet:wallet)">
    <ion-router-outlet name="wallet"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="contact" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
