<ion-header>
  <ion-toolbar>
    <ion-title id="log" class="text-center">Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LoyalTea Wallet</ion-card-subtitle>
      <ion-card-title>3000$</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current balance 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>amount paid</ion-card-subtitle>
      <ion-card-title>Transactions </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>200$ from A to B</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>89$ paid to Abc enterprise </ion-label>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
