<ion-header>
  <ion-toolbar>
    <ion-title id="log" class="text-center" >Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-icon id="pro" name="person"></ion-icon>
    <ion-label class="text-center bold gray">Hello Varnit!</ion-label>

    <ion-label style="margin-top:45%;" >Share with your friends to get rewards!</ion-label>

      <div style="margin-top: 10%;">
        <ion-icon id="iconn" name = "logo-facebook"></ion-icon>
      
      
        <ion-icon id="iconn" name="logo-twitter"></ion-icon>
      
      
        <ion-icon  id="iconn" name="logo-whatsapp"></ion-icon>

        <ion-icon  id="iconn" name="logo-linkedin"></ion-icon>
      </div>
      <ion-anchor    href="/login"><ion-button right bottom >
        logout
      </ion-button>
      </ion-anchor>
</ion-content>
