#pro{

    font-size: 100px;
    display: block;
    margin:auto;
    border: 2px solid black;
    border-radius: 50%;
}

#fab{

    display: block;
    margin-left: 45%;
    margin-top: 30%;
}

#iconn{

    font-size: 30px;
     padding: 6%;
}

#log{

    color: grey;
    font-weight: bold;
}