<ion-header>
  <ion-toolbar>
    <ion-title id="log" class="text-center">LoyaltyCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
      <ion-card-header>
          <ion-card-title>Points:</ion-card-title>
          <br>
        <ion-card-subtitle style="font-size:  20px;">45000 </ion-card-subtitle>
      </ion-card-header>
        <br>
      <ion-card-content>
        <ion-anchor href="/tabs/(redeem:redeem)" color="primary">Redeem your points here.</ion-anchor>
      </ion-card-content>
    </ion-card>
</ion-content>
