<ion-header>
  <ion-toolbar>
    <ion-title id="log" class="text-center">Redeem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <img src="../../assets/img/earphone.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Earphones with noise cancellation 
            </ion-card-title>
          <p>
            Great earphones with noise cancellation   and silicone ear plugs in 25000 points
          </p>
          <ion-button >
            redeem
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="../../assets/img/pend.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Hp 8GB pendrive
              </ion-card-title>
            <p>
              17000 points
            </p>
            <ion-button >
              redeem
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="../../assets/img/rc.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Remote Controlled Vehicle
                </ion-card-title>
              <p>
                15000
              </p>
              <ion-button >
                redeem
              </ion-button>
            </ion-card-content>
          </ion-card>

</ion-content>
