<ion-header>
  <ion-toolbar>
    <ion-title id="log">LoyalTea</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content class="tutorial-page">
      <ion-anchor href="/login">
  <ion-card>
    <img src="../../assets/img/tv.jpeg"/>
    <ion-card-content>
      <ion-card-title>
        GREAT DEALS!
        </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        SALE EVERY WEEKEND!
        </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/2.jpg"/>
    <ion-card-content>
      <ion-card-title>
        JOIN US NOW!
              </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-anchor>
</ion-content>